CONFIG_DEFAULT_autocore-arm=y
CONFIG_DEFAULT_base-files=y
CONFIG_DEFAULT_block-mount=y
CONFIG_DEFAULT_busybox=y
CONFIG_DEFAULT_ca-bundle=y
CONFIG_DEFAULT_dnsmasq-full=y
CONFIG_DEFAULT_dropbear=y
CONFIG_DEFAULT_firewall4=y
CONFIG_DEFAULT_fstools=y
CONFIG_DEFAULT_kmod-gpio-button-hotplug=y
CONFIG_DEFAULT_kmod-leds-gpio=y
CONFIG_DEFAULT_kmod-usb3=y
CONFIG_DEFAULT_libc=y
CONFIG_DEFAULT_libgcc=y


CONFIG_DEFAULT_bash=y   
CONFIG_DEFAULT_coremark=y
CONFIG_DEFAULT_curl=y
CONFIG_DEFAULT_ds-lite=y
CONFIG_DEFAULT_e2fsprogs=y
CONFIG_DEFAULT_f2fsck=y
CONFIG_DEFAULT_fitblk=y
CONFIG_DEFAULT_htop=y 
CONFIG_DEFAULT_kmod-crypto-hw-safexcel=y
CONFIG_DEFAULT_kmod-lib-zstd=y
CONFIG_DEFAULT_kmod-mt7915e=y
CONFIG_DEFAULT_kmod-mt7981-firmware=y 
CONFIG_DEFAULT_kmod-phy-aquantia=y
CONFIG_DEFAULT_kmod-tcp-bbr=y
CONFIG_DEFAULT_libustream-mbedtls=y
CONFIG_DEFAULT_logd=y
CONFIG_DEFAULT_luci-app-advancedplus=y 
CONFIG_DEFAULT_luci-app-fan=y
CONFIG_DEFAULT_luci-app-fileassistant=y
CONFIG_DEFAULT_luci-app-firewall=y
CONFIG_DEFAULT_luci-app-package-manager=y
CONFIG_DEFAULT_luci-app-syscontrol=y
CONFIG_DEFAULT_luci-app-upnp=y 
CONFIG_DEFAULT_luci-app-wizard=y
luci-base luci-compat luci-lib-fs luci-lib-ipkg mkf2fs mt7981-wo-firmware mtd nano netifd odhcp6c odhcpd-ipv6only openssh-sftp-server opkg ppp ppp-mod-pppoe procd resolveip swconfig uboot-envtools uci uclient-fetch urandom-seed urngd wget-ssl wpad-basic-mbedtls zram-swap

CONFIG_PACKAGE_luci-app-ddnsto=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-eqos-mtk=y
CONFIG_PACKAGE_luci-app-ikoolproxy=y
CONFIG_PACKAGE_luci-app-istorex=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-quickstart=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-store=y
CONFIG_PACKAGE_luci-app-turboacc-mtk=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-theme-argon=y
